@import "tailwindcss";
@layer theme, base, components, utilities;

/* World Aquatics Brand Configuration */
@theme {
  /* Brand Colors */
  --color-wa-navy: #023E73;
  --color-wa-blue: #055BA6;
  --color-wa-ocean: #048ABF;
  --color-wa-cyan: #0DB3D9;
  --color-wa-black: #0D0D0D;
  --color-wa-red: #DC2626;

  /* Font Family */
  --font-sans: 'Termina', system-ui, sans-serif;
}

/* Termina Font Face Declarations */
@font-face {
  font-family: 'Termina';
  src: url('./assets/fonts/Termina-Regular.woff2') format('woff2'),
    url('./assets/fonts/Termina-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('./assets/fonts/Termina-Medium.woff2') format('woff2'),
    url('./assets/fonts/Termina-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('./assets/fonts/Termina-Bold.woff2') format('woff2'),
    url('./assets/fonts/Termina-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('./assets/fonts/Termina-Black.woff2') format('woff2'),
    url('./assets/fonts/Termina-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Buttons */

@layer base {

  .btn_logout {
    @apply bg-wa-red text-white px-8 py-3 rounded-md font-medium hover:bg-red-700 cursor-pointer transition-all duration-200
  }

  .btn_main {
    @apply w-full bg-wa-blue text-white py-2 rounded-md hover:bg-wa-ocean text-sm font-medium cursor-pointer transition-all
  }

  .btn_confirm {
    @apply flex-1 bg-wa-ocean text-white rounded-md hover:bg-wa-blue cursor-pointer transition-all font-medium text-sm py-3
  }

  .btn_add {
    @apply bg-wa-blue text-white px-6 py-3 rounded-md font-medium hover:bg-wa-ocean cursor-pointer transition-all duration-200
  }

  .btn_take {
    @apply flex-1 bg-wa-ocean text-white py-2 rounded-md hover:bg-wa-navy text-sm font-medium cursor-pointer transition-all
  }

  .btn_return {
    @apply flex-1 bg-wa-cyan text-white py-2 rounded-md hover:bg-wa-navy text-sm font-medium cursor-pointer transition-all
  }

  .btn_cancel {
    @apply flex-1 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-300 text-sm cursor-pointer font-medium transition-all py-3
  }

  .badge_low {
    @apply bg-wa-red text-white text-xs px-2 py-1 rounded-full font-light
  }

  .form_input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md resize-y focus:outline-none focus:ring-2 focus:ring-wa-cyan focus:border-wa-cyan transition-colors
  }

}